* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.boldify:hover {
	font-weight: bold;
}
body {
	margin: 0 auto;
}

form,
.boldify {
	width: 50%;
	margin: 0 auto;
}

.text-center {
	display: block;
	text-align: center;
}

.btn-group-justified {
	width: 50%;
	margin-left: auto;
	margin-top: 10px;
	margin-right: auto;
}

.form-group {
	padding-bottom: 10px;
}
